<div>
  <strong class="welcome">Olá {{ student_name }}!</strong>
  <p>Segue resposta ao seu pedido de auxílio enviado em {{ created_at }}.</p>
</div>
<div class="help-order">
  <h1>Pedido</h1>
  <p><i>{{ question }}</i></p>
  </br>
  <h1>Resposta</h1>
  <p><i>{{ answer }}</i></p>
</div>
<div>
  <p>Obrigado por entrar em contato com a GymPoint.</p>
  <p>Caso necessário estaremos aqui para te ajudar.</p>
</div>